#include "chitin.dtsi"

&kscan0 {
        col-gpios 
            = <&pro_micro 16 GPIO_ACTIVE_HIGH>  // COL 13 (outer)
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>  // COL 12 (pinky)
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>  // COL 11 (ring)
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>  // COL 10 (middle)
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>  // COL 9 (index)
            , <&pro_micro 20 GPIO_ACTIVE_HIGH>  // COL 8 (inner)
            , <&pro_micro 21 GPIO_ACTIVE_HIGH>  // COL 7 (extra)
            ;
};

&pro_micro_i2c {
	status = "okay";

	trackball_pim447: trackball@a {
		status = "okay";
		compatible = "pimoroni,trackball-pim447";
		reg = <0x0a>;

		/* Your original settings */
		scroll-scale = <1>;
		invert-x;
	};
};

&trackball_split {
	status = "okay";
	device = <&trackball_pim447>;
};

&trackball_listener {
	status = "disabled";
};