#include "chitin.dtsi"

#if defined(CONFIG_ZMK_SPLIT_ROLE_CENTRAL)
&chitin_tb_listener {
    status = "okay";
};
#endif

&default_transform {
    col-offset = <7>;
};

&kscan0 {
        col-gpios 
            = <&pro_micro 16 GPIO_ACTIVE_HIGH>  // COL 13 (outer)
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>  // COL 12 (pinky)
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>  // COL 11 (ring)
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>  // COL 10 (middle)
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>  // COL 9 (index)
            , <&pro_micro 20 GPIO_ACTIVE_HIGH>  // COL 8 (inner)
            , <&pro_micro 21 GPIO_ACTIVE_HIGH>  // COL 7 (extra)
            ;
};
