if SHIELD_CHITIN_RIGHT

config ZMK_KEYBOARD_NAME
    default "chitin"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

config I2C
    default y

config ZMK_TRACKBALL_PIM447
    default y

config ZMK_MOUSE
    default y

config ZMK_TRACKBALL_PIM447_DEBUG
    default y

config ZMK_USB_LOGGING
    default y
    
endif

if SHIELD_CHITIN_LEFT || SHIELD_CHITIN_RIGHT

config ZMK_SPLIT
    default y

endif